{% extends "base.html" %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Todo lists</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url "index" %}">Home</a>
            </li>
            <li>
                <a href="index.html">Todo lists</a>
            </li>
            <li class="active">
                <strong>Assignment list</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 question-block">
        <div class="ibox ">
            <div class="ibox-title">
                <h5 class="text-dark">Assignment 1: </h5>
                <div class="ibox-tools">
                    <span>Question <b>1</b> of <b>20</b></span>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row ">

                    <h3 class="border-bottom col-lg-12">
                        <div class="p-sm q-detail">
                            {{ question.question_detail }}
                        </div>
                    </h3>
                    <div class="col-lg-12">
                        <ul class="sortable-list connectList agile-list q-answers">
                            {% for answer in answers %}
                                 <li class="dark-element animation-btn clearfix answer-detail" answer-id="{{ answer.id }}">
                                    <h3 class="pull-left">{{ answer.answer_detail }}.</h3>
                                    <button class="btn btn-primary btn-circle pull-right "><i class="fa fa-check"></i></button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="ibox-footer clearfix">
                <div class="float-right">
                    <button question-id="{{ status.prev_question }}" class="btn btn-primary btn-outline btn-rounded next-prev-q"><i class="fa fa-angle-left"></i> Previous </button>
                    <button question-id="{{ status.next_question }}" class="btn btn-primary btn-outline btn-rounded next-prev-q"> Next <i class="fa fa-angle-right"></i></button>
                    <button class="btn btn-primary btn-rounded"> Submit <i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'oyadar/assigments/detail-js.html' %}

{% endblock %}